<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <unity>
    <containers>
      <container name="Programmer">
        <register type="UnityDemo.IProgrammer,UnityDemo"  mapTo="UnityDemo.CSharp,UnityDemo" name="CSharp"></register>
        <register type="UnityDemo.IProgrammer,UnityDemo"  mapTo="UnityDemo.VB,UnityDemo" name="VB"></register>
        <register type="UnityDemo.IProgrammer,UnityDemo"  mapTo="UnityDemo.Java,UnityDemo" name="Java"></register>
      </container>
    </containers>
  </unity>
</configuration>
